html,
    :root{
    --text-heading1: #73034C;
    --text-t: #66002E;
    --bg-color: #ffc5eb;
    --bg-t:#f9adcf;
    --bord-t: #fe9dc9;
    --bg-test: #ffc3dd;  
    --brd-test: #f8bdd8; 
    --visited-color:#362630;
    --hover-color:#c06690;
    --link-color: #4a2d3f;
    --bg-sel: #fce4f3;
    --bord-sel: #c3679e;
    --brd-cal: #c76b90;
    --bg-cal: #f9b6dd;
    --сolor-but:#e790b8;
    --bg-pic: rgba(255, 192, 236, 0.637);
}

    [data-theme="dark"]{
    --text-heading1: #FC6AB6;
    --text-t: #F7BEDD;
    --bg-color: #2c0014;
    --bg-t:#7b0035;
    --bord-t: #3a0019;
    --bg-test: #62002a;
    --brd-test: #3a0019; 
    --visited-color:#d3006d;
    --hover-color:#da71a2;
    --link-color: #4b2233;
    --bg-sel: #5c1e35a6;
    --bord-sel: #460016;
    --brd-cal: #4a0015;
    --bg-cal: #530024; 
    --сolor-but:#9c0049;
    --bg-pic: #47002081;
}

body{
    background-color: var(--bg-color);
    font-family: Apple Chancery, cursive;
}

h1{
    text-align: left;
    color: var(--text-heading1);
    font-size: 50px;  
    margin: 0;
    padding-left: 450px;
}
h2{
    text-align: left;
    color: var(--text-heading1);
    font-size: 30px;

}
h3{
    text-align: left;
    color: var(--text-heading1);
    font-size: 20px;
}
.introduction{
    display: grid;
    text-align: center;
    font-size: 22px;
    color: var(--text-t);
    background-color: var(--bg-t);
    border-top: 3px solid var(--bord-t);
    border-bottom: 3px solid var(--bord-t);
    margin: 10px;
}
.test{
    background-color: var(--bg-test);
    margin: 10px;
    border: 3px solid var(--brd-test);
    display: grid;
    font-size: 22px;
    text-align: center;
    color: var(--text-t);
}

.head{
    padding-left: 15px;
    padding-right: 8px;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
img {
    width: 100%; 
    height: 80%;
    padding: 0px;
    border:4px solid var(--bg-t);
}
.description {
    text-align: center;
    font-size: 22px;
    width: 101%;
    margin: 0px;
    padding: 0px;
    color: var(--text-t);
    background-color: var(--bg-t);
}
a{text-decoration: none!important;}
a:link{color: var(--link-color);}
a:visited{color:var(--visited-color);}
a:hover{color:var(--hover-color);}

.calculator{
    border: 3px solid var(--brd-cal);
    background-color: var(--bg-cal);
}

label{
    color: var(--text-t);
    font-size: 20px;
}
select{
    background-color: var(--bg-sel);
    border-color: var(--bord-sel);
    color: var(--text-t);
    font-size: 17px;
}

.learn {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 102%;
    height: 82%;
    background-color: var(--bg-pic);
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.item:hover .learn {
    opacity: 1;
}

.item {
    position: relative;
}
.description2 {
    text-align: center;
    font-size: 25px;
    color: var(--text-t);
}

button{
    background-color: var(--сolor-but);
    border-radius: 10px; 
    border:3px solid var(--color-but);
    color: var(--text-t);
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
}

.theme{
    margin-left: 25px;
}